@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Staatliches&display=swap');

body {
    min-height: 100vh; /*Asegura que el cuerpo ocupe al menos la altura completa de la ventana*/
    display: flex; 
    flex-direction: column; /*Permite que el footer se mantenga al final*/
    background: linear-gradient(to right, #9aebee 30%, #559177 70%); 
    color: white;
    font-family: 'Amarante', cursive;
}
main {
    flex: 1 0 auto; /*Permite que el main crezca y ocupe el espacio disponible*/
}
.text {
   font-size: 2rem;
}
.table1{
    background: rgba(60, 3, 107, 0.6); /* Fondo semitransparente */
    color: white; /* Texto blanco para mejor contraste */

}