/*importa las fuente de google*/
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Staatliches&display=swap');

.header { 
 background-color: #FFFFFF; /* Blanco limpio para la barra */
 border-bottom: 2px solid #3AA8C1; /* Azul Cielo sutil */
 height: 80px;
}

.menu-despegable{
 display: flex;
 align-items: center;
 gap: 20px; /* gap es para añadir espacio entre los elementos */
}

.li-menu{
  list-style: none;
}

.button-menu{
 color:  #333;
 font-size: 30px;
 border: none;
 background: none;
 cursor: pointer;
}

.logo{
  font-Family : "amarante";
  color: #7B68EE; /* Violeta Medio para el texto principal */
  font-size: 1.5rem;
  font-weight: bold;
}
.btn-registro{
  background-color: #FDBCB4; /* Rosa Salmón */
  border: 1px solid #7B68EE; /* Borde Violeta */
  color: #333; /* Texto oscuro */
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
   &:hover{
   background-color: #7B68EE; /* Fondo Violeta en hover */
   color: #fff; /* Texto blanco en hover */
   border-color: #7B68EE;
 } 
}
.menu-nav{
  display: none;
  gap: 20px;
}
.menu-item{
 color: #555; /* Gris suave */
 text-transform: uppercase;
 text-decoration: none;
 list-style: none;
 font-family: "amarante";
 font-size: 16px;
 margin: 0 15px;
  &:hover{
    color: #90EE90; /* Verde Menta como acento en hover */
}
}


.header {
    background-color: #FFFFFF; /* Blanco limpio para la barra */
    border-bottom: 2px solid #3AA8C1; /* Azul Cielo sutil */
}

.logo-text {
    color: #7B68EE; /* Violeta Medio para el texto principal */
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-icon {
    color: #3AA8C1; /* Azul Cielo para el icono */
    font-size: 1.5rem;
}

.header .nav-link,
.header .btn-register {
    color: #555; /* Gris suave */
    text-transform: uppercase;
}

.header .nav-link:hover,
.header .btn-register:hover {
    color: #90EE90; /* Verde Menta como acento en hover */
}

.btn-register {
    background-color: #FDBCB4; /* Rosa Salmón */
    border: 1px solid #7B68EE; /* Borde Violeta */
    color: #333; /* Texto oscuro */
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: all 0.3s ease;
}

.btn-register:hover {
    background-color: #7B68EE; /* Fondo Violeta en hover */
    color: #fff; /* Texto blanco en hover */
    border-color: #7B68EE;
} 
