@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


 .container{
   background-image: url('https://es.wallpapers.com/imagenes-geniales');
   
    background-size: cover;
    background-position: center;
    height: 100vh;
  
 }