//variables de colores
$color-azul-cielo: #3AA8C1;
$color-violeta-medio: #7B68EE;
$color-rosa-salmon: #FDBCB4;
$color-gris-suave: #555555;
$color-blanco-limpio: #FFFFFF;
$color-texto-oscuro: #333333;
$color-verde-menta: #90EE90;
$color-negro-suave : rgba(0,0,0,0.2);

//variales de border
$border-maximo: 1rem;
$border-medio:16px;
$border-minimo:12px;

// variables de letras
$font-size-logo: 1.5rem;
$font-size-medio:1rem;
$font-size-items: 16px;
$font-principal: 'Amarante';
$font--secundaria: "roboto";
